html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}



body {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px 20px 20px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}